<header>
    <button class="settings-btn" onclick="toggleMenu()">⋯</button>
    <div id="settingsMenu" class="menu">
        <a href="#">File</a>
        <a href="#">Edit</a>
        <a href="#">View</a>
        <a href="#">Playback</a>
        <a href="#">Help</a>
    </div>
    <div class="back-btn">
        <a href="#" title="Go back">Back</a>
    </div>

<div id="home-btn" class="home-btn">
    <a href="#" title="Home">Home</a>
</div>

<div>
    <a href="#" title="Search">Search</a>
</div>
<div class="search-btn"><a href="#" title="Search">Search</a></div>

    <link rel="stylesheet" href="styles/btn.css">
    <link rel="stylesheet" href="styles/styles.css">
    <a href="Todo">All</a>
    <a href="music">Music</a>
    <a href="podcast">Podcast</a>
</header>