<ul>
    <li>
        <a href="https://kick.com/westcol">
            <img src="https://www.agencianasas.com/data/multimedia/images/1808/kick-portada.jpg?t=20250219b" 
            alt="kick" width="30px">Kick
        </a>
    </li>
    <li>
        <a href="youtube.com">
            <img src="https://yt3.googleusercontent.com/8YREjMpJG4lXPc4oAIXZbSL6GniENWwAJIAGQ2yR3yphhJz_0XUoNoj6uMaWPevxVl721QKKnqM=s900-c-k-c0x00ffffff-no-rj" 
            alt="YouTube">YouTube
        </a>
    </li>
    <li>
        <a href="Instagram.com">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1200px-Instagram_logo_2016.svg.png" 
            alt="Instagram" width="30px">Instagram
        </a>
    </li>
    <li>
        <a href="https://www.deepl.com/es/translator">
            <img src="https://static.deepl.com/img/logos/deepl-logo.svg" 
            alt="DeepL" width="30px">DeepL
        </a>
    </li>
    <li>
        <a href="gemini.com">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/0b/Gemini_Logo.svg" 
            alt="Gemini" width="30px">Gemini

        </a>
    </li>
    <li>
        <a href="https://dictionary.cambridge.org/es/diccionario/ingles/catchphrase">
            <img src="https://dictionary.cambridge.org/images/favicon.ico" 
            alt="Cambridge" width="30px">Cambridge
        </a>
    </li>
    <li>
        <a href="tiktok.com">
            <img src="https://upload.wikimedia.org/wikipedia/en/a/a9/TikTok_logo.svg" 
            alt="TikTok" width="30px">TikTok

        </a>
    </li>
    <li>
        <a href="https://web.whatsapp.com/">
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" 
            alt="WhatsApp" width="30px">WhatsApp
        </a>
    </li>
    <li>
        <div>Añadir sitio</div>
    </li>
</ul>